@model IEnumerable<NguyenThanhHao_Lab456.Models.Course>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="course">
    @foreach (var course in Model)
    {
        <li class="row">
            <div class="date col-md-3">
                <div class="day">
                    @course.DateTime.ToString("dd") /
                </div>
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
            </div>
            <div class="details col-md-5">
                <div class="lecturer col-md-5">
                    <span class="text-primary">Lecturer:</span> @course.Lecturer.Name 
                </div>
                <div class="category col-md-7">
                    <div class="category__courseName">
                        <span class="text-primary">Course:</span> @course.Category.Name
                    </div>
                </div>
            </div>
            <div class="action col-md-4">
                <button class="btn btn-primary"><a href="@Url.Action("Edit", "Courses", new { id = course.Id })">Edit</a></button>
                @if (course.IsCanceled == false)
                {
                    <button class="btn btn-danger"><a href="#" class="js-cancel-course" data-course-id="@course.Id">Cancel</a></button>
                }
                else
                {
                    <button class="btn btn-danger" disabled><a href="#">Uncancel</a></button>
                }
            </div>
        </li>
        <hr />
    }
</ul>
@section scripts{
    <script>
        $(function () {
            $('.js-cancel-course').click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to cancel?", function () {
                    $.ajax({
                        url: "/api/courses/" + link.attr("data-course-id"),
                        method: "DELETE"
                    }).done(function () {
                        link.parents("li").fadeOut(function () {
                            this.remove();
                        });
                    }).fail(function () {
                        alert("This cours had been deleted !!!");
                    });
                });
            });
        })
    </script>
}
